Debug
output
CMakeFiles
*.user
Grain/*.png
Makefile
cmake_install.cmake
.vscode
build
*.kile*
*.kate*
*.aux
*.snm
*.pdf
*.toc
*.synctex*
*.log
*.nav
*.out
*.blg
*.bbl
log/
result*
GrainGPU/*.png
Grain/*.png
